src/main/resources/schemas/agendum.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/agendum/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/agendum/">

  <xs:element name="place" type="xs:string" />
  <xs:element name="startDate" type="xs:date" />
  <xs:element name="endDate" type="xs:date" />
  <xs:element name="startTime" type="xs:string" />
  <xs:element name="endTime" type="xs:string" />

</xs:schema>
