nuxeo-agenda-core/src/main/resources/schemas/vevent.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/AgendaEvent/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/AgendaEvent/">

  <xs:element name="dtstart" type="xs:dateTime" />
  <xs:element name="dtend" type="xs:dateTime" />
  <xs:element name="location" type="xs:string" default="" />
  <xs:element name="categories" type="xs:string" default="" />
  <xs:element name="status" type="xs:string" default="CONFIRMED" />
  <xs:element name="transp" type="xs:string" default="OPAQUE" />
  <!--
  build and description fields are bound respectively to dc:build and dc:description
  -->

</xs:schema>
